*{
    text-decoration: none;
}
body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
.navbar{
    position: fixed;
    background-color: black;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
  }
  
  .inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
  }
  
  .navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    color: white;
  }
  
  .navbar-menu a{
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
  }
  
  .navbar-menu a:hover{
    color: #48dbfb !important;
  }
.row{
    margin: 0;
    padding-left: 20px;
    padding-right: 25%;
}

footer{
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 80px 0;
}

.copyright{
  margin: bottom;
  font-size: 15px;
}

.copyright a{
  font-size: 16px;
  color: #48dbfb;
  font-weight: 500;
}

@media screen and(max-width: 980px){
  .navbar-menu{
    font-size: 80px;
    margin: 20px 0;
    
  }
}